-
  let currentUrl = ''
  let currentTitle = 'Creative Design'
  let currentDescription = ' '
  let lang = 'en'
  let FontAwesome = true
  let Bootstrap4 = false
  let jQuery = false
  let GoogleFonts = true
  let screenSm = '0'
  let screenMd = '660px'
  let screenLg = '960px'
