extends ../pug/layout.pug

append config
  -
    currentTitle = 'Creative Design'
    currentDescription = 'Webpage'
    currentUrl = 'index.html'

block content
  section.top-content
    nav.navbar
      a.navbar__link(href='#') Design
      a.navbar__link(href='#') Customers
      a.navbar__link(href='#') Team
      a.navbar__link(href='#') Contact
    ///.navbar

    .top-content__bg

    h1.top-content__heading Creative Design

    .logo
      i.fas.fa-bezier-curve
  ///.top-content

  section.customers
    h2.section-heading Customers
    .customers__wrapper
      .customer
        i.fas.fa-quote-left
        p.customer__text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, aliquam tempore itaque nam quos ratione minus unde cum officiis quod rerum eaque eveniet dolorem laudantium, molestias cumque fuga animi tempora.
        .customer__rating
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star-half-alt
        +picture({
          'img': 'customer-01',
          'alt': 'Jane Lee',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        })
        h3.customer__name Jane Lee

      .customer
        i.fas.fa-quote-left
        p.customer__text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, aliquam tempore itaque nam quos ratione minus unde cum officiis quod rerum eaque eveniet dolorem laudantium, molestias cumque fuga animi tempora.
        .customer__rating
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
        +picture({
          'img': 'customer-02',
          'alt': 'Bob Smith',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        })
        h3.customer__name Bob Smith

      .customer
        i.fas.fa-quote-left
        p.customer__text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, aliquam tempore itaque nam quos ratione minus unde cum officiis quod rerum eaque eveniet dolorem laudantium, molestias cumque fuga animi tempora.
        .customer__rating
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.far.fa-star
        +picture({
          'img': 'customer-03',
          'alt': 'Ann Brown',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        })
        h3.customer__name Ann Brown

  ///.customers

  section.team
    h2.section-heading Team

    .team__wrapper
      .team__member
        +picture({
          'img': 'team-member-01',
          'alt': 'Nick Smith',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).team__member-img
        h2.team__member-name
          | Nick Smith
          span (Designer)
        ul.team__member-skils
          li Ps
          li Figma
          li HTML5
          li CSS3
          li Ai
        a.team__projects-btn(href='#') Projects
        .story__btn(title='My Story')
          .story__btn-line
        .story
          h4.story__heading About Me
          p.story__paragraph
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.

      .team__member
        +picture({
          'img': 'team-member-02',
          'alt': 'Bob Brown',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).team__member-img
        h2.team__member-name
          | Bob Brown
          span (Designer)
        ul.team__member-skils
          li Ae
          li Pr
          li HTML5
          li CSS3
          li Inkscape
        a.team__projects-btn(href='#') Projects
        .story__btn(title='My Story')
          .story__btn-line
        .story
          h4.story__heading About Me
          p.story__paragraph
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.

      .team__member
        +picture({
          'img': 'team-member-03',
          'alt': 'John Doe',
          'lg': false,
          'md': false,
          'ext': 'jpg'
        }).team__member-img
        h2.team__member-name
          | John Doe
          span (Developer)
        ul.team__member-skils
          li JavaScript
          li ReactJs
          li NodeJs
          li MongoDB
          li Python
        a.team__projects-btn(href='#') Projects
        .story__btn(title='My Story')
          .story__btn-line
        .story
          h4.story__heading About Me
          p.story__paragraph
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic quae quisquam repudiandae dignissimos ad.

  ///.team

  section.contact
    h2.section-heading Contact
    .form__container
      +picture({
        'img': 'form',
        'alt': 'Form',
        'lg': false,
        'md': false,
        'ext': 'png'}).contact__img
      +form()
        +field-text({
            attrs: {
              name: 'name',
              placeholder: 'Your name'
            }
          })
        +field-text({
            attrs: {
              type: 'email',
              name: 'email',
              placeholder: 'Your email'
            }
          })
        +field-text({
            isTextarea: true,
            attrs: {
              name: 'comment',
              placeholder: 'Your message'
            }
          })
          +field-text({
            attrs: {
              type: 'submit',
              value: 'Send'
            }
          })
  ///.contact

block footer
  +page-footer()
    p.page-footer__copyright Copyright &copy; CodeAndCreate All Rights Reserved
  ///.page-footer
