extends ../pug/layout.pug

append config
  -
    currentTitle = 'Creative Design'
    currentDescription = 'Webpage'
    currentUrl = 'index.html'

block content
  section.top-content
    nav.navbar
      a.navbar__link(href='#') Design
      a.navbar__link(href='#') Customers
      a.navbar__link(href='#') Team
      a.navbar__link(href='#') Contact
    ///.navbar

    .top-content__bg

    h1.top-content__heading Creative Design

    .logo
      i.fas.fa-bezier-curve
  ///.top-content
