// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);

  .fas {
    font-size: 15rem;
    color: rgba(50, 231, 255, 0.8);
    text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd;
  }
}
