// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  &__copyright {
    margin-top: 5rem;
    padding-bottom: 7rem;

    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #444;
  }
}
